module <%= module %> {
    export class <%= className %> {
        // inject services here
        static $inject = [];

        link(value: any, element: HTMLElement) {
            //decorator linked to the HTML element
        }

    }
}