module <%= module %> {
    export class <%= className %> {
        // inject services here
        static $inject = [];

        name: string = '<%= tagName %>';

        initializeComponent() {
            // place your initialize logic here
        }

    }
}