module <%= module %> {
    export class <%= className %> {
        // inject services here
        static $inject = [];

        name: string = '<%= tagName %>';

        constructor(){
            //place your initialize logic here
        }

    }
}