module <%= module %> {
	// <%= pageUrl %>
    export class <%= className %> {
        // inject services here
        static $inject = [];

        name: string = '<%= pageName %>';

        initializeComponent() {
            // place your initialize logic here
        }

    }
}