module <%= appModuleName %>.tests {
    describe('Home page', () => {
        var page: core.pages.HomePage; // object to test

        beforeEach(() => {
            page = new core.pages.HomePage();
        });

        it('should has special title', () => {
            expect(page.name).toEqual('home-page');
        });

    });
}